.footer{
    background-color: #102757;
    color: white;
}
.foot{
    background-color: rgb(13, 13, 94);
    color: mistyrose;
}
.clock{
    text-align: left !important;
    color: white;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}
.date{
    text-align: inherit;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fa-facebook-square{
    font-size: 20px !important;
    color: white !important;
}
.fa-twitter-square{
    font-size: 20px !important;
    color: white !important;
}
.fontsize{
    font-size: 30px;
}