*, *::after, *::before {
  scroll-behavior: smooth;
}

h1{
  color: white;
  text-align: center;
  padding: 95px;
}
 
#sub{
  width:fit-content;
  padding: 5px 5px 5px 5px;
  margin-left: 325px;
  margin-top: 175px;
  background-color: rgb(10, 10, 87);
    }

#admin{
  width:fit-content;
  padding: 5px 5px 5px 5px;
  margin-left: 326px;
  margin-top: 175px;
  background-color: rgb(10, 10, 87);
  }

  #buttons{
    padding: 0.7rem 2.5rem;
  }

  #bottom{
    margin-top: 15px;
  }
